/* Les couleurs de la charte sont le bleu #0065FC.
Sa version plus claire #DEEBFF.
Le gris pour le fond #F2F2F2.
La police du site est Raleway. */

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* Importation de la font */

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* ************************* NAVBAR ************************* */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1em;
}

.logo {
  margin-right: auto;
  width: 6.25em;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  color: #0065fc;
  padding: 1em;
}
.activelink {
  border-top: solid; /* Ajout d'une bordure au dessus de l'item*/
}

.linkoff {
  color: grey;
}

.linkoff:hover {
  border-top: solid;
  color: #0065fc;
}

/* ************************* SEARCHBAR ************************* */
#searchbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  font-size: 0.8em;
}
form {
  display: flex;
}
form input {
  font-weight: bold;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  outline: none;
  height: 2.7em;
  padding: 0.5em 0.9em;
}

.inputsearch {
  width: 17em;
  color: black;
}
.inputsubmit {
  background-color: #0065fc;
  color: white;
  border-radius: 0 0.625em 0.625em 0;
  border: none;
  cursor: pointer;
}
.inputsubmit:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.mapicon {
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  padding: 0.5em 0.9em;
  border-radius: 0.625em 0 0 0.625em;
  background-color: #f2f2f2;
  border-right: none;
  cursor: pointer;
}
/* ************************* FILTERBAR ************************* */

.filterbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 1.5em 0em 0em 0;
}
.filterbar p {
  margin: auto 0em;
  font-weight: bold;
}

.filterbar input {
  -webkit-appearance: none;
}

.filterbar label {
  display: flex;
  height: 2em;
  width: auto;
  border: solid 0.1em;
  border-color: #f2f2f2;
  border-radius: 10em;
  border-left: none;
  align-items: center;
  cursor: pointer;
  padding: 0 0.5em 0 0;
  user-select: none; /*pour empecher la selection du texte*/
}

label::before {
  display: flex;
  content: "";
  height: 2.2em;
  width: 2.2em;
  border-radius: 10em;
  background-color: #deebff;
  color: #0065fc;
  align-items: center;
  justify-content: center;
}

input:checked + label {
  background-color: #0065fc;
  color: white;
  border: none; /*pour désactiver l'effet qui "bave"*/
}
input:checked + label::before {
  transform: scale(1.05);
}
label:hover {
  box-shadow: 0 0 1em 0 #deebff;
  transform: scale(1.05);
  transition-duration: 0.1s;
}

.filterbar span {
  font-size: 0.85em;
  font-weight: bold;
  font-family: "raleway", sans-serif;
  padding: 0.5em;
}

.fa-info::before {
  content: "\f129";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  border-radius: 10em;
  border: solid thin #f2f2f2;
  color: #0065fc;
  padding: 0.1em;
  margin: 0 0.5em 0 0;
}
.searchresult {
  font-size: 0.7em;
}
/* ************************* MAINCONTENT ************************* */
.maincontent {
  display: grid;
  column-gap: 0em;
  grid-template-columns: 6.5fr 3fr;
}

.Hébergements {
  display: grid;
  min-width: min-content;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f2f2f2;
  border-radius: 1em;
}
.Hébergements h1 {
  grid-column: 1/-1;
  padding: 1em;
}
.Hébergements article {
  border: solid white;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0.5em;
  height: auto;
  margin: 1em;
  padding: 0.2em;
  cursor: pointer;
  box-shadow: 0 0 1em grey;
}
.Hébergements article:hover {
  transform: scale(1.05);
}

.Hébergements img {
  height: 7em;
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
  object-fit: cover;
}
figcaption {
  font-weight: bold;
}
/* ************************* ICON ETOILES ************************* */
.nonactive {
  color: lightgrey;
}
.active {
  color: #0065fc;
}
/* ************************* ASIDE ************************* */
.Popular {
  display: grid;
  min-width: min-content;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-rows: repeat(3, 1fr);
  background-color: #f2f2f2;
  border-radius: 1em;
  margin-left: 2em;
}
.Popular h1 {
  grid-column: 1/-1;
  padding: 1em;
}

.Popular img {
  height: 100%;
  width: inherit;
  border-radius: 0.5em 0em 0 0.5em;
  object-fit: cover;
}

.Popular article {
  display: flex;
  justify-content: space-around;
  border: solid white;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0.5em;
  height: 10em;
  width: 100%;
  max-width: 100%;
  margin: 1em;
  padding: 0.2em;
  cursor: pointer;
  box-shadow: 0 0 1em grey;
}
.Popular article:hover {
  transform: scale(1.05);
}
