/* Les couleurs de la charte sont le bleu #0065FC.
Sa version plus claire #DEEBFF.
Le gris pour le fond #F2F2F2.
La police du site est Raleway. */

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* Importation de la font */

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* ************************* NAVBAR ************************* */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1em;
}

.logo {
  margin-right: auto;
  width: 6.25em;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  color: #0065fc;
  padding: 1em;
}
.activelink {
  border-top: solid; /* Ajout d'une bordure au dessus de l'item*/
}

.linkoff {
  color: grey;
}

.linkoff:hover {
  border-top: solid;
  color: #0065fc;
}

/* ************************* SEARCHBAR ************************* */
#searchbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  font-size: 0.8em;
}
form {
  display: flex;
}
form input {
  font-weight: bold;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  outline: none;
  height: 2.7em;
  padding: 0.5em 0.9em;
}

.inputsearch {
  width: 17em;
  color: black;
}
.inputsubmit {
  background-color: #0065fc;
  color: white;
  border-radius: 0 0.625em 0.625em 0;
  border: none;
  cursor: pointer;
}
.inputsubmit:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.mapicon {
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  padding: 0.5em 0.9em;
  border-radius: 0.625em 0 0 0.625em;
  background-color: #f2f2f2;
  border-right: none;
  cursor: pointer;
}
