/* Les couleurs de la charte sont le bleu #0065FC.
Sa version plus claire #DEEBFF.
Le gris pour le fond #F2F2F2.
La police du site est Raleway. */

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* Importation de la font */

body {
  max-width: 1440px;
  margin: auto;
  /* margin: 0;
  padding: 0; */
  font-family: "Raleway", sans-serif;
}

/* ************************* NAVBAR ************************* */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 1em 0 0;
  gap: 1em;
}

.logo {
  margin-right: auto;
  width: 6.25em;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  color: #0065fc;
  padding: 1em;
}
.activelink {
  border-top: solid; /* Ajout d'une bordure au dessus de l'item*/
}

.linkoff {
  color: grey;
}

.linkoff:hover {
  border-top: solid;
  color: #0065fc;
}
@media screen and (max-width: 600px) {
  .activelink {
    border-top: none;
    border-bottom: solid;
    width: 50%;
  }
  .linkoff {
    border-bottom: solid;
    width: 50%;
    border-color: #f2f2f2;
  }
  nav {
    padding: 0;
  }
  .menunav {
    order: 2;
    display: flex;
    width: 100%;
    text-align: center;
  }
  .subscription {
    margin-right: 1em;
  }
  .logo {
    margin-left: 1em;
  }
}

/* ************************* SEARCHBAR ************************* */
#searchbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  font-size: 0.8em;
}
form {
  display: flex;
}
form input {
  font-weight: bold;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  outline: none;
  height: 2.7em;
  padding: 0.5em 0.9em;
}

.inputsearch {
  width: 17em;
  color: black;
}
.inputsubmit {
  background-color: #0065fc;
  color: white;
  border-radius: 0 0.625em 0.625em 0;
  border: none;
  cursor: pointer;
  padding: 0.5em 0.9em;
  font-weight: bold;
}
.inputsubmit:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.mapicon {
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  padding: 0.5em 0.9em;
  border-radius: 0.625em 0 0 0.625em;
  background-color: #f2f2f2;
  border-right: none;
  cursor: pointer;
}

.fa-search::before {
  display: none;
}
@media screen and (max-width: 600px) {
  #searchbar {
    margin: 2em;
  }
  .inputsubmittext {
    display: none;
  }
  .fa-search::after {
    content: "\f002";
  }
}
/* ************************* FILTERBAR ************************* */

.filterbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 1.5em 0em 0em 0;
}
.filterbar p {
  margin: auto 0em;
  font-weight: bold;
  padding-left: 0.7em;
}

.filterbar input {
  /* -webkit-appearance: none; */
  display: none;
}

.filterbar label {
  display: flex;
  height: 2em;
  width: -moz-fit-content;
  border: solid 0.1em;
  border-color: #f2f2f2;
  border-radius: 10em;
  border-left: none;
  align-items: center;
  cursor: pointer;
  padding: 0 0.5em 0 0;
  user-select: none; /*pour empecher la selection du texte*/
}

label::before {
  display: flex;
  content: "";
  height: 2.2em;
  width: 2.2em;
  border-radius: 10em;
  background-color: #deebff;
  color: #0065fc;
  align-items: center;
  justify-content: center;
}

input:checked + label {
  background-color: #0065fc;
  color: white;
  border-color: #0065fc;
}
input:checked + label::before {
  transform: scale(1.07);
}
label:hover {
  box-shadow: 0 0 1em 0 #deebff;
  transform: scale(1.05);
  /* transition-duration: 0.1s; */
}

.filterbar span {
  font-size: 0.85em;
  font-weight: bold;
  font-family: "raleway", sans-serif;
  padding: 0.5em;
}

.fa-info::before {
  content: "\f129";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  border-radius: 10em;
  border: solid thin #f2f2f2;
  color: #0065fc;
  padding: 0.1em;
  margin: 0 0.5em 0 0;
}
.searchresult {
  font-size: 0.7em;
}
.forquery1 {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 0 0 0.5em;
}
.forquery2 {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
}
@media screen and (max-width: 600px) {
  .filterbar p {
    width: 100%;
  }

  .forquery2 {
    flex-direction: column;
  }
}
/* ************************* MAINCONTENT ************************* */
.maincontent {
  display: grid;
  grid-template-columns: 6.5fr 3fr;
}

#Hébergements {
  display: grid;
  min-width: min-content;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  background-color: #f2f2f2;
  border-radius: 1em;
}
#Hébergements h1 {
  grid-column: 1/-1;
  padding-left: 1em;
  font-size: 20px;
  margin-bottom: 0;
}
.seemore {
  grid-column: 1/-4;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#Hébergements article {
  border: solid white;
  box-sizing: border-box;
  background-color: white;
  border-radius: 1em;
  height: 14em;
  width: 17em;
  margin: 1em;
  padding: 0.2em;
  cursor: pointer;
  box-shadow: 0 0 1em grey;
  display: flex;
  flex-flow: column;
}
.txtvignette {
  display: flex;
  /* padding-top: 1em; */
  padding-left: 0.25em;
  flex-direction: column;
  row-gap: 0.5em;
}
.txtvignettePopular {
  display: flex;
  padding: 0.5em 0.5em 0 0.5em;
  flex-direction: column;
  margin-right: 1em;
}
.starsicons {
  display: flex;
  margin-top: auto;
}
#Hébergements article:hover {
  transform: scale(1.05);
}

#Hébergements img {
  height: 8em;
  width: 100%;
  border-radius: 0.8em 0.8em 0 0;
  object-fit: cover;
  padding-bottom: 0.5em;
}
figcaption {
  font-weight: bold;
  font-size: 18px;
}

#Hébergements p {
  margin: 0;
}
@media screen and (max-width: 600px) {
  #Hébergements article {
    width: auto;
  }
  #Hébergements {
    background-color: transparent;
  }
}
/* ************************* ICON ETOILES ************************* */
.nonactive {
  color: lightgrey;
}
.active {
  color: #0065fc;
}
/* ************************* ASIDE ************************* */

.Popular {
  display: grid;
  min-width: min-content;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-rows: auto repeat(3, 1fr);
  background-color: #f2f2f2;
  border-radius: 1em;
  margin-left: 2em;
}
.Popular h1 {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
  padding: 0 1em 0 1em;
  font-size: 20px;
  margin-bottom: 0;
}
.Popular a {
  color: black;
}

.Popular img {
  height: 100%;
  width: 9em;
  border-radius: 0.8em 0em 0 0.8em;
  object-fit: cover;
}

.Popular article {
  display: flex;
  /* justify-content: space-around; */
  border: solid white;
  box-sizing: border-box;
  background-color: white;
  border-radius: 1em;
  height: 10em;
  /* width: 100%; */
  max-width: 100%;
  margin: 1em;
  padding: 0.2em;
  cursor: pointer;
  box-shadow: 0 0 1em grey;
}
.Popular article:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 600px) {
  .Popular {
    margin: 0;
    margin-top: 1em;
  }
  .Popular {
    border-radius: 0;
  }
  .Popular {
    grid-row-start: 1;
  }
}
/* ******************** ACTIVITES ******************** */
#Activités {
  margin-top: 2em;
  display: grid;
  /* min-width: min-content; */
  column-gap: 1em;
  row-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(8, 3em);
  border-radius: 1em;
}

#Activités article:hover {
  transform: scale(1.05);
}

#Activités article {
  box-sizing: border-box;
  /* background-color: white; */
  border-radius: 1em;
  height: auto;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0 0 1em grey;
  display: flex;
  flex-direction: column;
}
#Activités figcaption {
  padding: 1em 0 1em 0.7em;
}
#Activités img {
  height: 100%;
  width: 100%;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
}
#Activités h1 {
  grid-column: 1/4;
  grid-row: 1/-10;
  padding-left: 1em;
  margin-bottom: 0;
}
.largeimg1 {
  grid-column: 1/1;
  grid-row: 2/9;
}
.mediumimg1 {
  grid-column: 2/2;
  grid-row: 2/6;
}
.smallimg1 {
  grid-column: 2/2;
  grid-row: 6/9;
}
.largeimg2 {
  grid-column: 3/3;
  grid-row: 2/9;
}
.smallimg2 {
  grid-column: 4/4;
  grid-row: 2/5;
}
.mediumimg2 {
  grid-column: 4/4;
  grid-row: 5/9;
}
@media screen and (max-width: 600px) {
  #Activités img {
    height: 10em;
  }
}
/* ******** FOOTER ******* */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  background-color: #f2f2f2;
  padding: 1em;
}

footer a {
  text-decoration: none;
  color: black;
}
footer h2 {
  font-size: 16px;
}
footer div {
  margin-right: 18em;
  row-gap: 1em;
  display: flex;
  flex-flow: column;
  margin-top: 1em;
}
footer a:hover {
  color: #0065fc;
  transition-duration: 0.1s;
  /* text-decoration: underline; */
}
@media screen and (max-width: 600px) {
  footer a {
    width: max-content;
  }
}
/************* RESPONSIVE ************/
@media screen and (max-width: 600px) {
  #Hébergements {
    display: initial;
  }
  .maincontent {
    grid-template-columns: 1fr;
  }
  .body {
    margin: 0;
    padding: 0;
  }
  #Activités {
    display: initial;
  }
} ;
